.ilObjListRow {
  border-bottom: none !important;
}
body {
  background-color: transparent !important;
}
/**
Personal Desktop
 */
#block_pditems_0 div.il_Block div.ilBlockHeader {
  display: none !important;
}
h3.ilPDBlockSubHeader {
  display: none !important;
}
/**
Tiles
 */
body .tile {
  text-align: center;
  padding: 0 15px 0 0;
  margin-bottom: 15px;
  font-size: 13px;
  /*
  > div {

	text-decoration: none;
	display:         block;
	text-transform:  uppercase;
	padding:         0;
  }*/
}
body .tile.category > div {
  font-family: "Open Sans Semibold", sans-serif;
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  font-size: 15px;
}
body .tile.category .ratio-container:after {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0);
  pointer-events: none;
}
body .tile.category .ratio-container:hover:after {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.075);
}
body .tile.category .ratio-container {
  padding-top: 100%;
  overflow: hidden;
}
body .tile.category .ratio-container img {
  padding: 12%;
}
body .tile .ratio-container {
  padding-top: 70%;
  position: relative;
  max-height: 100%;
  text-align: left;
}
body .tile .ratio-container img {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
}
body .tile .card-img-top {
  cursor: pointer;
}
body .tile img.card-img-top {
  width: 100%;
}
body .tile .card {
  max-width: 100%;
  width: 100%;
  /*overflow:  hidden;*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
body .tile .card .flex-container {
  display: flex;
  height: 50px;
}
body .tile .card .card-title {
  flex-grow: 1;
}
body .tile .card .card-label {
  font-size: 22px;
  position: relative;
}
body .tile .card .card-label .card-title-container {
  min-width: 0;
}
body .tile .card .card-label .card-title {
  /*padding:    20px 5px 0 20px*/
  text-align: left;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
body .tile .card .card-label .card-footer {
  text-align: left;
  display: flex;
}
body .tile .card .card-label .card-footer .left {
  flex-grow: 1;
}
body .tile .card .card-label .card-footer .right {
  text-align: right;
  padding-right: 5px;
}
body .tile .card .card-label .card-footer img {
  font-size: inherit;
  height: 18px;
}
body .tile .card .like_count {
  margin-left: -5px;
  margin-top: 2px;
}
.card-text,
.card-title {
  line-height: 1;
  text-align: center;
  padding: 5px !important;
  font-size: 18px;
  line-height: 1.2em;
}
.img-responsive {
  width: 100%;
}
