<!-- BEGIN tile -->
<div class="tile{DISABLED}" data-object_type="{OBJECT_TYPE}" id="sr_tile_{TILE_ID}">
	<div class="card" data-image_position="{IMAGE_POSITION}" data-image_show_as_background="{IMAGE_SHOW_AS_BACKGROUND}" data-shadow="{SHADOW}">
		<a class="card_top"{LINK}>
			{IMAGE}
			{OBJECT_ICON}
			{LEARNING_PROGRESS}
		</a>
		<div class="card_bottom" data-actions_position="{ACTIONS_POSITION}">
			<a class="card_title" data-horizontal_align="{TITLE_HORIZONTAL_ALIGN}" data-vertical_align="{TITLE_VERTICAL_ALIGN}"{LINK}>{TITLE}</a>
			<div class="card_icons" data-vertical_align="{ACTIONS_VERTICAL_ALIGN}">
				{CERTIFICATE}
				{LEARNING_PROGRESS_ON_THE_ICONS}
				{FAVORITE}
				{RATING}
				{RECOMMEND}
				{PRECONDITIONS}
				{ACTIONS}
			</div>
		</div>
	</div>
</div>
<!-- END tile -->