<!-- BEGIN tile -->
<div class="col-xs-6 col-md-3 tile">
	<div>
		<div class="card" id="sr-tile-{TILE_ID}">
			<div class="ratio-container" onclick="location.href='{LINK}'">
				<img src="{IMAGE}" alt="Card image">
				{ICON}
			</div>
			<div class="card-label">
				<div class="flex-container">
					<div class="card-title">{LABEL}</div>

					<div class="card-footer">
						<div class="left">

						</div>
						<div class="right">
							{ACTIONS}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END tile -->